@font-face {
    font-family: 'montserrat';
    src: url('../../../assets/fonts/Montserrat-VariableFont_wght.ttf');
}

.montserrat{
    font-family: 'montserrat';
}

.active{
    color: white;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}