<!-- Header -->
<app-header></app-header>
<!-- Home -->
<main class=" bg-zinc-800">
    <div class="container p-1 py-16 ">   
        <ul class="grid grid-cols-4 gap-4">
            @for (image of images; track image.id){
                <li class="ml-3">
                    <img class="rounded-lg" src="{{image.image}}" alt="">
                    <h2 class="font-bold text-white">{{ image.titulo }}</h2>
                </li>   
            }
        </ul>
    </div>
</main>
<!-- Footer -->
<app-footer></app-footer>