<div class="bg-login">
  <main class="container flex justify-center align-middle">
    <section class="my-10">
      <figure class="flex justify-center align-middle">
      <img src="../../../assets/logo-white.svg" width="20%" alt="Logo Architec">
    </figure>
    <br>
    <div class="flex align-middle justify-center">
      <div class="mr-8">
        <button [class.active]="!login" class="font-semibold text-white montserrat" (click)="showLogin()">ENTRAR</button>
      </div>
      <div>
        <button [class.active]="!signup" class="font-semibold text-white montserrat" (click)="showSign()">CADASTRAR-SE</button>
      </div>
    </div>
    <br>
    <form action="">
      <!-- login -->
      <div [class.hidden]="login" class="flex flex-col">
        <!-- Nickname ou Email -->
        <div class="flex flex-col">
          <label for="username" class="text-white montserrat">Nickname ou Email</label>
          <input type="text" class="text-white">
        </div>
        <br>
        <!-- Senha -->
        <div class="flex flex-col">
          <label for="password" class="text-white montserrat">Senha</label>
          <input type="password" class="text-white">
        </div>
        <br>
        <!-- Checkbox -->
        <div>
          <input type="checkbox" class="mr-2 montserrat" checked> 
          <label for="" class="text-white montserrat">Lembrar da minha senha</label>
        </div>
        <br>
        <div>
          <button class="btn-logar montserrat">Logar</button>
          <br><br>
          <div class="flex justify-center align-middle montserrat">
            <small class="text-stone-400">
              <button>
                Esqueceu a senha?
              </button>
            </small>
          </div>
        </div>
      </div>
      <!-- sign up -->
      <div [class.hidden]="signup">
        <app-signup></app-signup>
      </div>
    </form>
  </section>
</main>
</div>