<section>
    <div>
        <div>
            <div class="flex flex-col">
                <label for="username" class="text-white montserrat">Nickname</label>
                <input type="text" class="text-white">
            </div>
        </div>
        <br>
        <div>
            <div class="flex flex-col">
                <label for="email" class="text-white montserrat">Email</label>
                <input type="email" class="text-white">
            </div>
        </div>
        <br>
        <div>
            <div class="flex flex-col">
                <label for="password" class="text-white montserrat">Senha</label>
                <input type="password" class="text-white">
            </div>
        </div>
        <br>
        <div>
            <div class="flex flex-col">
                <label for="password" class="text-white montserrat">Repita a Senha</label>
                <input type="password" class="text-white">
            </div>
        </div>
        <br>
        <div>
            <input type="checkbox" class="mr-2 montserrat" checked> 
            <label for="" class="text-white montserrat">Eu concordo com os <button class="text-gray-400 hover:text-gray-500 hover:border-b-2 border-gray-600">Termos de Uso</button></label>
        </div>
        <br>
        <button class="btn-criar montserrat">Criar conta</button>
    </div>
</section>
